name: Publish Snapshot

permissions:
  contents: read

on: [push, pull_request, workflow_dispatch]

jobs:
  publish_snapshot:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        api-level: [29]
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true
          fetch-depth: 1

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: "17"
          distribution: "adopt"

      - name: Run Android tests
        uses: reactivecircus/android-emulator-runner@v2
        with:
          api-level: ${{ matrix.api-level }}
          emulator-options: -no-snapshot-save -no-window -gpu swiftshader_indirect -noaudio -no-boot-anim -camera-back none
          disable-animations: true
          arch: x86
          script: ./gradlew :sqlite-android:connectedAndroidTest --stacktrace

      - name: Upload results
        if: ${{ always() }}
        uses: actions/upload-artifact@v4
        with:
          name: instrumentation-test-results ${{ matrix.api-level }}
          path: ./**/build/reports/androidTests/connected/**

      - name: Publish snapshot (manual build from master only)
        env:
          ORG_GRADLE_PROJECT_VERSION_TYPE: Snapshot
          ORG_GRADLE_PROJECT_mavenCentralUsername: ${{ secrets.MAVEN_CENTRAL_TOKEN_USERNAME }}
          ORG_GRADLE_PROJECT_mavenCentralPassword: ${{ secrets.MAVEN_CENTRAL_TOKEN_PASSWORD }}
          ORG_GRADLE_PROJECT_signingInMemoryKeyId: ${{ secrets.SIGNATURE_KEY_ID }}
          ORG_GRADLE_PROJECT_signingInMemoryKey: ${{ secrets.SIGNATURE_KEY_VALUE }}
          ORG_GRADLE_PROJECT_signingInMemoryKeyPassword: ${{ secrets.SIGNATURE_KEY_PASSWORD }}
        run: ./gradlew publish
        if: github.ref == 'refs/heads/master' && github.event_name == 'workflow_dispatch'
